<div style="width:100%;margin:15px;">
  <h3 ng-bind="title"></h3>
  <div tabledirective data="t" hostname="hostname" ng-repeat="t in tables" > </div>
  To create a new test report you can use curl command:
  <br>
  <strong>
  curl "{{location}}"<br>
  </strong>
  Ipv6 sypport: <br>
  <strong>
  curl -g -6 "{{location}}"
  </strong>
  <br>
  Legend:
  <div style="display: flex">
    <div semaphore default="0" result="0"> </div>Test passed correctly
  </div>
  <div style="display: flex">
    <div semaphore default="0" result="256"> </div>Test not passed
  </div>
  <div style="display: flex">
    <div semaphore default="0" result='"null"'> </div>Test deactivated
  </div>
  <div style="display: flex">
    <div semaphore default="256" result='256'> </div>Test passed with an expected error (for example, when you make a ping to a machine that you expect that is no up. So you expect an error code as result of the test)
  </div>


</div>
